.main-content-root {
  width: 1100px;
  margin: auto;
}

h2 {
  text-align: left;
}

.restaurants-section-ul {
  display: flex;
  align-content: center;
  // border: 1px solid red;
}

.restaurant-box {
  width: 250px;
  height: 280px;
  margin: 5px;
  overflow: hidden;
  border: 1px solid black;
}

.restaurant-img {
  width: 250px;
  height: 150px;
}

.restaurant-link {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}