.main-content-root {
  width: 1100px;
  margin: auto;
}

h2 {
  text-align: left;
}

.restaurants-section-ul {
  display: flex;
  align-content: center;
  // border: 1px solid red;
}

.restaurant-box {
  width: 250px;
  height: 280px;
  margin: 5px;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 2%;
  padding: 0.1px;
}

.restaurant-box:hover {
  animation: selected 0.4s forwards;
}

.restaurant-img {
  width: 250px;
  height: 150px;
    padding: 0px;
}

.restaurant-link {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.restaurant-below-img {
  padding: 5px;
}
.restaurant-name {
  font-size: 22px;
  padding: 3px;
}
.restaurant-review {
  padding: 3px;
}
.restaurant-cuisine {
  padding: 1px;
  font-weight: lighter;
}
.restaurant-dot{
  content: "\8226";
}
.dot {
  font-size: 28px;
  position: relative;
  top: 3.5px;
}
.featured-restaurants {
  padding-bottom: 40px;
}
.top-cuisines {
  padding-bottom: 40px;
}
.featured-areas {
  padding-bottom: 40px;
}

@keyframes selected {
  100% {
    transform: translate(0px, -4px);
    box-shadow: 0px 2px 10px gray;
  }
}