body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
}
.restaurant-show img{
  width: 100vw;
  height: 45vh;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
}
///Restaurant description Section

.restaurant-title {
  font-size: 70px;
  font-weight: bold;
  border-bottom: 1px solid rgb(202, 192, 192);
  padding: 30px 0px;
}
.description {
  font-size: 20px;
}
.description div{
  padding: 5px;
}
/////PHOTO SECTION
.photos {
  display: block;
}
.photos img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.photo-box li{
  width: 19%;
  height: 49%;
  padding: 1px;
  margin: 0px;
}
.photo-box {
  list-style: none;
  display: flex;
  width: 100%;
  height: 300px;
  flex-wrap: wrap;
  flex-direction: column;
  padding-inline-start: 0px;
}

#larger-photo {
  width: 42%;
  height: 98.5%;
}
////MENU SECTION
.menu {
  display: block;
}
.menu-box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
  padding-inline-start: 0px;
  font-size: 20px;
  border-bottom: 1px solid rgb(202, 192, 192);
  border-top: 1px solid rgb(202, 192, 192);
}
.menu-box li {
  width: fit-content;
  height: fit-content;
  padding: 8px;
  border: 1px solid gray;
  margin: 8px;
}
////REVIEW SECTION
.review {
  display: block;
}
.review-subtitle {
  font-size: 20px;
  border-bottom: 1px solid rgb(202, 192, 192);
  border-top: 1px solid rgb(202, 192, 192);
}
.review-box {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 3px;
  padding-inline-start: 40px;
  font-size: 20px;
}
.review-overall {
  font-weight: 600;
}
.review-box li {
  border-bottom: 1px solid rgb(202, 192, 192);
}


/////PAGE FLEX BOX
.restaurant-flexbox {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  margin: auto;
  position: relative;
  bottom: 53px;
}
.banner-section {
  background: white;
}
.restaurant-section {
  width: 56vw;
}
////Restaurant top bar
.restaurant-top-bar{
  height: 48px;
  list-style: none;
  background-color: #fff;
  border-radius: 2px 2px 0 0;
  padding: 0px;
  margin-top: 0px;
  display: flex;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(202, 192, 192);
}
.restaurant-top-bar li {
  padding: 10px;
  font-size: 18px;
}
//RIGHT SIDED BOXES
.additional-section{
  width: 27vw;
}
.additional-section > div {
  height: 40vh;
}
////BOOKING SECTION
.booking-section {
  background: #fff;
  position: sticky;
  top: 0;
  padding: 0px 15px 15px 15px;
  box-shadow: 0px 2px 10px gray;
  margin-bottom: 40px;
}
.booking-section > div {
  padding: 10px;
}
.booking-title {
  font-size: 25px;
  text-align: center;
  border-bottom: 1px solid rgb(202, 192, 192);
}
.party-size{
  font-size: 20px;
  border-bottom: 1px solid rgb(202, 192, 192);
}
select {
  font-size: 15px;
}
.date-time-section {
  display: flex;
  justify-content: space-between;
}
.date-time-section > div {
  font-size: 20px;
  border-bottom: 1px solid rgb(202, 192, 192);
  padding-bottom: 10px;
  width: 48%;
}

/////LOCATION SECTION
.location-section img {
  object-fit: cover;
  width: 95%;
  height: 95%;
}
/////ATMOSPHERE SECTION
.atmosphere-section{
  font-size: 18px;
}
.atmosphere-section ul{
  padding: 0px;
}
.atmosphere-section li{
  list-style: none;
  padding: 10px 10px 10px 0px;
  display: flex;
}
.atmos-title {
  font-weight: bold;
  padding: 10px 10px 10px 0px;
}
.atmosphere-section i {
  height: 15px;
  margin: 4px 4px 4px 0px
}